@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro','sans serif';
    margin: 0;
}
/*contenedor de la pokedex(la parte roja donde va todo)*/
body
{
    background-color: rgb(79, 198, 219);
}
.circle1
{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: -10;
    position: absolute;
    top: -150px;
    left: -150px;
    background: linear-gradient(to bottom right, rgb(127, 50, 199), white);

}
.circle2
{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: -10;
    position: absolute;
    top: 200px;
    left: 850px;
    background: linear-gradient(to right bottom, rgb(127, 50, 199), white);
}
.container
{
    border: 2px solid #000;
    width: 500px;
    height: 650px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 130px;
    background-color: rgb(114, 199, 185);
    z-index: -10;
}

/* pantallita */
.text-content
{
    height: 300px;
    width: 400px;
    position: relative;
    top: 60px;
    left: 45px;
    text-align: center;
    padding: 30px 30px;
    font-size: 20px;
    color: #000;
    background: white;
    border-radius: 5%;
    border: 2px solid #000;
}
.text-container
{
    width: 420px;
    height: 320px;
    position: absolute;
    top: 50px;
    left: 35px;
    background-color: gray;
    border-radius: 5%;
    border: 2px solid #000;
}
/* decoracion xd */
.boton1
{
    position: absolute;
    top: 0px;
    left: 45px;
    background-color: rgb(255, 0, 179);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
}
.boton2
{
    position: absolute;
    top: 10px;
    left: 110px;
    background-color: rgb(148, 11, 118);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}
.boton3
{
    position: absolute;
    top: 10px;
    left: 150px;
    background-color: rgb(41, 128, 187);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}

.boton4
{
    position: absolute;
    top: 10px;
    left: 190px;
    background-color: rgb(56, 168, 150);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}

.boton5
{
    position: absolute;
    top: 450px;
    left: 45px;
    background-color: rgb(105, 177, 121);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
}
.boton6
{
    position: absolute;
    top: 459px;
    left: 135px;
    background-color: rgb(232, 245, 56);
    border-radius: 5px;
    width: 110px;
    height: 30px;
    border: 2px solid #000;
}

.boton7
{
    position: absolute;
    top: 530px;
    left: 45px;
    background-color: rgb(235, 164, 83);
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border: 2px solid #000;
}

.boton8
{
    position: absolute;
    top: 500px;
    left: 320px;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 2px solid #000;
}
.boton9
{
    position: absolute;
    top: 465px;
    left: 355px;
    background-color: black;
    border-radius: 5px;
    width: 30px;
    height: 100px;
    border: 2px solid #000;
}

.boton10
{
    position: absolute;
    top: 600px;
    left: 45px;
    background-color:rgb(214, 9, 204);
    border-radius: 5px;
    width: 400px;
    height: 30px;
    border: 2px solid #000;
    z-index: 1;
}

input
{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 330px;
    left: 250px;
    font-size: 20px;
    background-color: antiquewhite;
    border-radius: 5%;
}
label
{
    font-size: 30px;
    position: absolute;
    top: 330px;
    left: 10px;
    color: white;
}

.poke-img
{
    position: relative;
    top: 10px;
    left: -130px;
    border-radius: 50%;
}

.pokemon
{
    text-align: center;
    margin-top: -20px;
    font-size: 30px;
}

.poke-types
{
    position: relative;
    top: 10px;
    left: -130px;
    font-weight: 800;
    padding: 10px 10px;
    font-size: 22px;
}
.ltipo
{
    font-size: 20px;
    color: #000;
    position: relative;
    top: 20px;
    left: -130px;
}

.pokeid
{
    position: relative;
    top: 15px;
    left: -130px;
    font-size: 22px;
}

.poke-stats div
{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 3px 30px;
    font-size: 18px;
    position: relative;
    top: -100px;
    left: 35px;
}

/* Barra que separa a las pantallas */
.container3
{
    position: absolute;
    top: 20px;
    left: 600px;
    height: 650px;
    width: 100px;
    background-color: rgb(221, 13, 13);
    border: 2px solid #000;
}

.barra1
{
    position: relative;
    top: 20px;
    left: 38px;
    height: 80px;
    width: 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

.barra2
{
    position: relative;
    top: 190px;
    left: 38px;
    height: 80px;
    width: 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

.barra3
{
    position: relative;
    top: 360px;
    left: 38px;
    height: 80px;
    width: 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

/* container del lado derecho donde van los movimientos */

.container2
{
    border: 2px solid #000;
    width: 500px;
    height: 650px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 698px;
    background-color: rgb(221, 13, 13);
    z-index: -10;
}
.content2
{
    width: 430px;
    height: 570px;
    position: absolute;
    top: 50px;
    left: 32px;
    background-color: gray;
    border-radius: 5%;
    border: 2px solid #000;
}

.moves-content
{
    
    height: 550px;
    width: 410px;
    position: relative;
    top: 60px;
    left: 42px;
    text-align: center;
    padding: 30px 30px;
    font-size: 20px;
    color: #000;
    background: white;
    border-radius: 5%;
    border: 2px solid #000;
}

.moves-label
{
    color: #000;
    font-size: 28px;
    position: relative;
    top: -25px;
    left: 0px;
}

.poke-moves
{
    display: grid;
    grid-template-columns: repeat(7,.1fr);
    grid-gap: 0px;
    font-size: 13px;
    padding: 3px 30px;
    position: relative;
    top: -20px;
    left: -50px;
    word-spacing: 2px;
}

.bboton1
{
    position: absolute;
    top: 0px;
    left: 45px;
    background-color: aqua;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
}
.bboton2
{
    position: absolute;
    top: 10px;
    left: 110px;
    background-color: rgb(128, 7, 7);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}
.bboton3
{
    position: absolute;
    top: 10px;
    left: 150px;
    background-color: rgb(202, 206, 8);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}

.bboton4
{
    position: absolute;
    top: 10px;
    left: 190px;
    background-color: rgb(8, 206, 34);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
}